body {
    background-image: url('img/fondo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0;
}

#header .container {
    background: rgba(66, 61, 61, 0.4);
    backdrop-filter: blur(5px);
    width: 1200px;
    border-radius: 15px;
}

#header .col-md-3 img{
    padding-top: 5px;
    border-radius: 8px 8px 5px 5px;
}


#header .nav-link {
    color: white;
}

#header .nav-link:hover{
    background-color: #312f2d;
    border-radius: 5px 5px 5px 5px;
}

#header .btn{
    border: 1px white solid;
    color: white;
}

#header .btn:hover{
    background-color: rgb(138, 135, 135);
    border: rgb(54, 52, 52);
    color: black;
}



#presentacion h1 {
    color: red;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#presentacion p {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    backdrop-filter: blur(5px);
    font-size: 15px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 1230px;
    text-align: justify;
    line-height: 1.8;
    margin: auto;


}


.card:hover {
    box-shadow: 0 0 20px rgba(97, 97, 97, 0.4);
    border-color: #FEFFF7;
    transition: 0.4s;
    
}


.collab-card-square {
    background-color: #0a0a0a !important;
    border: 1px solid #333 !important;
}


.collab-card-square img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.subtitulo {
    color: #ff0000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 1px;
}

#tablas {
    max-width: 1200px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

table {
    width: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    border: 1px solid black;
}


thead {
    background-color: #000;
    border-bottom: 2px solid #ff0000;
}

th {
    padding: 15px;
    text-align: left;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #222;
    color: #e0e0e0;
}


tbody tr:hover {
    background-color: rgba(204, 24, 24, 0.05);
    color: #fff;
}

td:first-child {
    font-weight: bold;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgba(20, 20, 20, 0.5);
}

#footer .text-body-secondary {
    color: white !important;
}

